<div class="container-edit">
  <div class="form-group-edit">
    <h1>Change Category</h1>
    <div class="form-item-edit">
      <%# <%= render "form", category: @category, item: @item %>
      <%= simple_form_for [@category, @item] do |f| %>
      <%= f.association :category %>
      <%# <%= f.input :item_url %>
      <%= f.submit 'Update category', class: 'btn btn-primary', id: 'add-update-item' %>
      <% end %>
  </div>
  <%= link_to "Back to Bookmarks", items_path, class: "btn btn-ghost-edit" %>
</div>
</div>
