<div class="container-edit">
  <div class="form-item-edit">
    <h1>Change Category</h1>
      <%# <%= render "form", category: @category, item: @item %>
    <%= simple_form_for [@category, @item] do |f| %>
    <%= f.association :category %>
    <%# <%= f.input :item_url %>
    <%= f.submit class: 'btn btn-primary', id: 'add-update-item' %>
    <% end %>
  </div>
</div>

<%= link_to "Back to item list", items_path, class: "btn btn-ghost-edit" %>
