<div class="top-container">
  <div class="summary-info">
    <h5>Hello <%= current_user.first_name %> <%= current_user.last_name %>!</h5>
    <p>You have <%= pluralize @items.count, 'item' %></p>
  </div>
  <div class="sort-search">
    <%# // search form added %>
    <div class="sort pt-4 pb-4">
      <%= form_tag items_path, method: :get do  %>
        <%= select_tag(:sort, options_for_select([["Alphabetical", :name],["Highest Price", :price],["Oldest",:created_at]], params[:sort]), include_blank: true) %>
        <%= submit_tag "Sort", class: "btn btn-primary" %>
      <% end %>
    </div>
    <%# // search form added %>
    <div class="search pt-4 pb-4">
      <%= form_tag items_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a Bookmarked Item"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="item-create">
    <%= link_to 'add an item', new_item_path, class: 'btn btn-warning' %>
  </div>
</div>

<div class="content-container">
  <div class="sidebar">
    <%= link_to "All items", items_path, class: "btn btn-category" %>
    <a class="btn btn-category">Purchased items</a>
    <% @categories.each do |category| %>
      <%= link_to category, items_path(sort: params[:sort], query: params[:query], filter: category), class: "btn btn-category" %>
    <% end %>
  </div>

  <%# // cards %>
  <div class="card-deck">
    <% @items.each do |item| %>
      <div class="card">
        <img src=<%= item.image_url.first %> class="card-img-top" width = "50px" height = "150px">
          <div class="card-body">
            <%= item.category.name %>
            <h5 class="card-title"><%= item.name %></h5>
            <p class="card-text">Price: <%= item.price %> <s> <%= (item.original_price) ? item.original_price : ""%></s> </p>
            <p> Category: <%= item.category.name %>  </p>
          </div>
        <div class="card-footer">
          <%= link_to 'More', item_path(item), class: "btn btn-dark" %>
          <%= link_to 'Change category', edit_item_path(item), class: "btn btn-dark" %>
          <%= link_to "Delete", item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
