<%# <%= link_to "New Categories", new_category_path, class:"btn btn-primary" %>

<div class="top-container">

  <%# <div class="row items"> %>
    <h2>Your current Bookmarks</h2>
    <%# // sort form added %>

  <div class="pt-4 pb-4">
    <%= form_tag items_path, method: :get do  %>
      <%= select_tag(:sort, options_for_select([["Alphabetical", :name],["Highest Price", :price],["Oldest",:created_at]], params[:sort]), include_blank: true)
        # params[:sort]
        # class: "form-control"
      %>
      <%= submit_tag "Sort", class: "btn btn-primary" %>
    <% end %>
    <%# <%= submit_tag "Sort", class: "btn btn-primary" %>
    <%# <% form_with(url: item_path(@item) do |form| %>

    <%# // search form added %>
    <div class="pt-4 pb-4">
    <%= form_tag items_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a Bookmarked Item"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    </div>
  <%# </div> %>
</div>


<%# // The Cards are coded below %>

<div class="card-deck">
<% @items.each do |item| %>
  <div class="card">
    <img src=<%= item.image_url.first %> class="card-img-top" width = "50px" height = "150px">
      <div class="card-body">
        <%= item.category.name %>
        <h5 class="card-title"><%= item.name %></h5>
        <p class="card-text">Price: <%= item.price %> <s> <%= (item.original_price) ? item.original_price : ""%></s> </p>
        <p> Category: <%= item.category.name %>  </p>
      </div>
      <div class="card-footer">
        <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    More
  </a>
            <%# <%= link_to 'More', item_path(item), class: "btn btn-dark" %>
            <%= link_to 'Change category', edit_item_path(item), class: "btn btn-dark" %>
            <%= link_to "Delete", item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %>
      </div>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
           <%= item.description %>
        </div>
      </div>
  </div>
  <% end %>
</div>

<div class="item-create">
    <%# <%= render 'form', item: @item, category: @category %>
    <%= link_to 'add an item', new_item_path, class: 'btn btn-warning' %>
</div>
