<%= link_to "New Categories", new_category_path, class:"btn btn-primary" %>

<div class="top-container">
  <%# // search form %>
  <div class="col-sm-8 pt-4 pb-4">
  <%= form_tag items_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a Bookmarked Item"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  </div>

  <div class="row items">
    <h2>All of your current Bookmarks.</h2>
  </div>

<div class="main-container">
  <div class="row items">
    <% @items.each do |item| %>
      <div class="item card">
        <div class="item-card-info">
          <div class="item-basic-info">
            <h3><%= item.category.name %></h3>
            <h4><%= item.name %></h4>
            <p><%= item.item_url %></p>
          </div>

          <div class="item-description-price">
            <i class="description">Description:</i><span><%= item.description %></span>
            <i class="price">Price: £</i><%= item.price %>
          </div>

          <div class="item-actions">
            <%= link_to 'More info', item_path(item) %>
            <%= link_to 'update', edit_item_path(item) %>
            <%= link_to "delete", item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-ghost" %>
          </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<div class="item-create">
  <h5>Create your items</h5>
  <%# <%= render 'form', item: @item, category: @category %>
  <%= link_to 'add an item', new_item_path, class: 'btn btn-flat' %>
</div>
