<div class="container-new">
  <div class="form-item-new">
    <h1>Add Item</h1>
      <%= render "form", category: @category, item: @item %>
  </div>
</div>

<%# <%= simple_form_for [@category, @item] do |f| %>
  <%# <%= f.association :category %>
  <%# <%= f.input :item_url %>
  <%# <%= f.submit class: 'btn btn-primary' %>
<%# <% end %>

<%=  link_to "Back to Item List", items_path, class: "btn btn-ghost-new" %>
